<div id="user-show">
	<% if current_user %>
	  <h1> Hi <%= current_user.first_name %>, manage your mentorship appointments below.</h1>

	<!-- Mentor section below -->
	  <ul>
	      <% if Appointment.where(mentor: current_user).count > 0  %>
	          <h2> Below are the appointments you're mentoring</h2>
	          <% Appointment.where(mentor: current_user).each do |meeting| %>
	          
	          <li> 
	              <h3> <%= meeting.topic %> | <%= display_datetime(meeting) %> (<%= meeting.interval %> minutes) </h3>
	              <% if meeting.student %>
									<h3> Your Student: <%= meeting.student.first_name %> <%= meeting.student.last_name[0].upcase %>. </h3>
	              <% end %>
	              <form  method="post" action="/appointments/<%= meeting.id %>"> 
	                <input type="hidden" name="_method" value="delete">
	                <input type="submit" value="Cancel Appointment" class="btn" style="margin-top: 15px;">
	              </form>
	          </li>

	        <% end %>
	        <% else %>
	          <h2> It looks like you don't have any mentoring appointments at this time. Create your first appointment below.</h2>
	      <% end%>


	<!-- Student section below -->
	      <% if Appointment.where(student: current_user).count > 0  %>
	      <h2> Below are the appointments you're getting help on</h2>
	          <% Appointment.where(student: current_user).each do |meeting| %>

	          <li> 
	              <h3> <%= meeting.topic %> | <%= display_datetime(meeting) %> (<%= meeting.interval %> minutes) </h3>
	              <h3> Your Teacher: <%= meeting.mentor.first_name %>, <%= meeting.mentor.last_name[0].upcase %>. </h3>
	              <form  method="post" action="/appointments/<%= meeting.id %>"> 
	                <input type="hidden" name="_method" value="put">
	                <input type="submit" value="Cancel Appointment" class="btn" style="margin-top: 15px;">
	              </form>
	          </li>

	        <% end %>
	      <% else %>
	          <h2> It looks like you don't have any student appointments at this time. Create your first appointment below.</h2>
	      <% end%>

	  </ul>
	<% end %>
</div>