<div id="user-show">
	<% if current_user %>
	  <h1> Hi <%= current_user.first_name %>, manage your mentorship appointments below.</h1>

	<!-- Mentor section below -->
	  <ul>
	      <% if Appointment.where(mentor: current_user).count > 0  %>
	          <h2> Below are the appointments you're mentoring</h2>
	          <% Appointment.where(mentor: current_user).each do |meeting| %>
	          
	          <li> 
	          		<hr>
	          		<div>
	              <h3> <%= meeting.topic %> | <%= display_datetime(meeting) %> </h3>
	              <% if meeting.student %>
									<h3> Your Student: <%= meeting.student.first_name %> <%= meeting.student.last_name[0].upcase %>. </h3>
	              <% end %>

	              <h3> (<%= meeting.interval %> minutes) </h3>

	              <form  method="post" action="/appointments/<%= meeting.id %>" class="inline"> 
	                <input type="hidden" name="_method" value="delete">
	                <input type="submit" value="Cancel Appointment" class="btn inline" style="margin-top: 15px;">
	              </form>
								<% if left_feedback?(meeting) == false %>
									<form method="get" action="/reviews/<%= meeting.id %>/new" class="inline"> 
	                	<input type="submit" value="Provide feedback" class="btn inline" style="margin-top: 15px;">
	              	</form>
								<% end %>
								<br>
								<% if meeting.reviews.length > 0 %>
									<p class="feedback-display">
									<a href="/reviews/<%= meeting.id %>/show">Rating:</a> ( <%= meeting.reviews[0].rating %> / 5 )
									</p>
								<% end %>
	              </div>
	          </li>

	        <% end %>
	        <% else %>
	          <h3 class="no-appt-msg"> You currently have no available office hours. </h3>
	      <% end%>


	<!-- Student section below -->
	      <% if Appointment.where(student: current_user).count > 0  %>
	      <h2 class="lower-list"> Below are the appointments you're getting help on</h2>
	          <% Appointment.where(student: current_user).each do |meeting| %>

	          <li> 
	          		<hr>
	          		<div>
	              <h3> <%= meeting.topic %> | <%= display_datetime(meeting) %> </h3>
	              <h3> Your Teacher: <%= meeting.mentor.first_name %>, <%= meeting.mentor.last_name[0].upcase %>. </h3>
	              <h3> (<%= meeting.interval %> minutes) </h3>
	              <form  method="post" action="/appointments/<%= meeting.id %>" class="inline"> 
	                <input type="hidden" name="_method" value="put">
	                <input type="submit" value="Cancel Appointment" class="btn inline" style="margin-top: 15px;">
	              </form>
								<!-- include the logic if date is passed the meeting end time -->
	              <form method="get" action="/reviews/<%= meeting.id %>/new" class="inline"> 
	                <input type="submit" value="Provide feedback" class="btn inline" style="margin-top: 15px;">
	              </form>


	              </div>

	          </li>

	        <% end %>

	      <% else %>
	          <h3 class="no-appt-msg"> You currently have no scheduled tutoring sessions. </h3>
	      <% end%>

	  </ul>
	<% end %>
</div>