<% if current_user %>
  <p> Hi <%= current_user.first_name %>, manage your mentorship appointments below.</p>

<!-- Mentor section below -->
  <ul>
      <% if Appointment.where(mentor: current_user).count > 0  %>
          <h2> Below are the appointments you're mentoring</h2>
          <% Appointment.where(mentor: current_user).each do |meeting| %>
          
          <li> 
              <%= meeting.topic %> | <%= display_datetime(meeting) %> (<%= meeting.interval %> minutes) 
              <form  method="post" action="/appointments/<%= meeting.id %>"> 
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Cancel Appointment">
              </form>
          </li>

        <% end %>
        <% else %>
          <h2> It looks like you don't have any mentoring appointments at this time. Create your first appointment below.</h2>
      <% end%>


<!-- Student section below -->
      <% if Appointment.where(student: current_user).count > 0  %>
      <h2> Below are the appointments you're getting help on</h2>
          <% Appointment.where(student: current_user).each do |meeting| %>

          <li> 
              <%= meeting.topic %> | <%= display_datetime(meeting) %> (<%= meeting.interval %> minutes) 
              <form  method="post" action="/appointments/<%= meeting.id %>"> 
                <input type="hidden" name="_method" value="put">
                <input type="submit" value="Cancel Appointment">
              </form>
          </li>

        <% end %>
      <% else %>
          <h2> It looks like you don't have any student appointments at this time. Create your first appointment below.</h2>
      <% end%>

  </ul>
<% end %>