<div class="main-content">

  <%= form_for(resource, as: resource_name, :html => {:class => "form-register"}, url: session_path(resource_name)) do |f| %>

    <div class="form-register-with-email">
        
        <div class="form-white-background">

          <div class="form-title-row">
            <h1>Log in</h1>
          </div>

              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email %>
              </div>

              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

            <div class="form-row">
              <%= f.submit "Log in", :class => "btn auth-btn" %>
            </div>

          <% end %>
        
        </div>

    </div>

</div>