<h1>Appointments</h1>
<ul>
	<% if @appointments %>
		<% @appointments.each do |appt| %>
			<li>
				<%= appt.topic %> | <%= appt.mentor.first_name %> <%= appt.mentor.last_name[0].upcase %>.
				<br>
				<%= display_datetime(appt) %>
				(<%= appt.interval %> mins)
				<br>
				<form action="appointments/<%= appt.id %>/signup" method="post">
					<input type="submit" value="Sign Up">
				</form>
			</li>
		<% end %>
	<% end %>
</ul>







