<%= form_tag("/reviews/#{params[:id]}", method: "post") do |f| %>
  <div class="form-register-with-email">
    <div class="form-white-background">
      <div class="form-title-row">
        <!-- optional -->
        <h1> Provide Feedback </h1>

          <div class="field">
            <label>Rating</label><br>
            <%= f.select :rating, ['1', '2', '3', '4','5'] %>
          </div>

          <div class="field">
            <label>Comment</label><br>
            <%= f.text_field :comment, placeholder: 'Leave feedback here' %>
          </div>

          <div class="form-row">
            <%= f.button "Post Feedback" %>
          </div>

      </div>
    </div>
  </div>

<% end %>

<% if @error %>
    <%= @error %>
  <% end %>