<div id="review-show">
  <h1 id="appointment-topic"> <%= @appointment.topic %> </h1>
  <% if mentor_feedback(@appointment) %>
  <h2 class="feedback-h2"> Mentor Feedback: </h2>
  <p class="feedback-body"> <%= mentor_feedback(@appointment).rating %> out of 5 stars </p>
  <p class="feedback-body"> "<%= mentor_feedback(@appointment).comment %>" </p>
  <% else %>
  <h2 class="feedback-h2"> The mentor hasn't left any feedback yet. </h2>
  <% end %>
  <hr>
  <% if student_feedback(@appointment) %>
    <h2 class="feedback-h2"> Student Feedback: </h2>
    <p class="feedback-body"> <%= student_feedback(@appointment).rating %> out of 5 stars </p>
    <p class="feedback-body"> "<%= student_feedback(@appointment).comment %>" </p>
  <% else %>
    <h2 class="feedback-h2"> The student hasn't left any feedback yet. </h2>
  <% end %>
</div>