<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mentor Session Scheduler</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav> 
      <%= link_to "Home", root_path %>

    <% if current_user %>
      <a href="/users/show"><%= current_user.first_name %> <%= current_user.last_name[0].upcase %>. </a>
      <a href="/users/logout">Logout</a>
      <%= link_to "Create Appointment", new_appointment_path %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
      <%= link_to "Register", new_user_registration_path %>
      <% end %>
    </nav>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
