<!DOCTYPE html>
<html>
  <head>
    <title>Mentor Session Scheduler</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap Core CSS -->
    <%= stylesheet_link_tag    'vendor/bootstrap/css/bootstrap.min', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Custom CSS -->
    <%= stylesheet_link_tag    'vendor/bootstrap/css/stylish-portfolio', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Custom Fonts -->
    <%= stylesheet_link_tag    'vendor/font-awesome/css/font-awesome.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav> 
      <%= link_to "Home", root_path %>

    <% if current_user %>
      <a href="/users/show"><%= current_user.first_name %> <%= current_user.last_name[0].upcase %>. </a>
      <a href="/users/logout">Logout</a>
      <%= link_to "Create Appointment", new_appointment_path %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
      <%= link_to "Register", new_user_registration_path %>
      <% end %>
    </nav>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
